@font-face {
	font-family:iconfont;
	src:url(//at.alicdn.com/t/font_1475912685_3576825.eot);
	src:url(//at.alicdn.com/t/font_1475912685_3576825.eot?#iefix) format('embedded-opentype'),url(//at.alicdn.com/t/font_1475912685_3576825.woff) format('woff'),url(//at.alicdn.com/t/font_1475912685_3576825.ttf) format('truetype'),url(//at.alicdn.com/t/font_1475912685_3576825.svg#iconfont) format('svg')
}
.tb-icon,.iconfont {
	font-family:iconfont!important;
	font-size:14px;
	font-style:normal;
	display:inline-block;
	text-decoration:none;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.tbh-icon,a.fixedtool-1.on,a.fixedtool-1:hover {
	background:url(//img.alicdn.com/tfs/TB1vQzVOVXXXXX4XpXXXXXXXXXX-220-1170.png) 0 0 no-repeat
}
.tbh-like .tbh-icon {
	background-position:center -604px
}
.tbh-blocks[data-name=fashion] .tbh-icon {
	background-position:center -719px
}
.tbh-blocks[data-name=quanlity] .tbh-icon {
	background-position:center -679px
}
.tbh-blocks[data-name=special] .tbh-icon {
	background-position:center -518px
}
.tbh-headline .tbh-icon {
	background-position:0 -769px
}
.tbh-blocks-sh .tbh-icon {
	background-position:center -558px
}
.tbh-discover-goods .tbh-icon {
	background-position:0 -634px
}
.tbh-discover-shop .tbh-icon {
	background-position:8px -791px
}
.tbh-member .tbh-icon {
	background-position:0 -882px
}
.tbh-member .member-nick-info .member-apass {
	background-position:0 -847px
}
.tbh-conve .conve-item-1 .tbh-icon {
	background-position:0 0
}
.tbh-conve .conve-item-2 .tbh-icon {
	background-position:0 -44px
}
.tbh-conve .conve-item-3 .tbh-icon {
	background-position:0 -85px
}
.tbh-conve .conve-item-4 .tbh-icon {
	background-position:0 -132px
}
.tbh-conve .conve-item-5 .tbh-icon {
	background-position:0 -176px
}
.tbh-conve .conve-item-6 .tbh-icon {
	background-position:0 -220px
}
.tbh-conve .conve-item-7 .tbh-icon {
	background-position:0 -1052px
}
.tbh-conve .conve-item-8 .tbh-icon {
	background-position:0 -308px
}
.tbh-conve .conve-item-9 .tbh-icon {
	background-position:0 -352px
}
.tbh-conve .conve-item-10 .tbh-icon {
	background-position:0 -396px
}
.tbh-conve .conve-item-11 .tbh-icon {
	background-position:0 -440px
}
.tbh-conve .conve-item-12 .tbh-icon {
	background-position:0 -1146px
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:3/2),only screen and (min-device-pixel-ratio:1.5) {
	.tbh-icon,a.fixedtool-1.on,a.fixedtool-1:hover {
	background:url(//img.alicdn.com/tfs/TB1Wsv9OVXXXXXaXXXXXXXXXXXX-440-2298.png) 0 0 no-repeat;
	background-size:220px 1149px
}
.fixedtool a.fixedtool-1,.fixedtool a.fixedtool-1.on,.fixedtool a.fixedtool-1:hover {
	background-position:0 -1070px
}
.tbh-member .tbh-icon {
	background-position:0 -881px
}
.tbh-conve .conve-item-7 .tbh-icon {
	background-position:0 -1041px
}
.tbh-conve .conve-item-12 .tbh-icon {
	background-position:0 -1125px
}
.tbh-member .tbh-icon.vip-icon-0 {
	background-position:0 -902px
}
.tbh-member .tbh-icon.vip-icon-1 {
	background-position:0 -922px
}
.tbh-member .tbh-icon.vip-icon-2 {
	background-position:0 -942px
}
.tbh-member .tbh-icon.vip-icon-3 {
	background-position:0 -962px
}
.tbh-member .tbh-icon.vip-icon-4 {
	background-position:0 -982px
}
.tbh-member .tbh-icon.vip-icon-5 {
	background-position:0 -1002px
}
.tbh-member .tbh-icon.vip-icon-6 {
	background-position:0 -1022px
}
}.tb-zoom .tmall .mod-6 a {
	width:172px
}
.tb-zoom .tmall .mod-12 a:nth-child(4n) {
	width:127px
}
.tb-zoom .apps-nav li {
	margin-right:20px
}
.tb-zoom .service-rmd-list a {
	margin-right:7px
}
.tb-zoom .service-rmd-list a {
	width:109px
}
.tb-zoom .tmall .mod-4 a:first-child {
	width:129px
}
html,body {
	overflow-x:hidden
}
body {
	color:#3C3C3C;
	-webkit-font-smoothing:antialiased;
	background-color:#f1f1f1
}
body a {
	color:#3C3C3C
}
body a:hover {
	color:#F40;
	text-decoration:none
}
body a:focus {
	outline:0
}
body.disable-hover {
	pointer-events:none
}
#J_Sale {
	min-height:624px;
	margin-top:20px;
	padding:10px 0 0
}
.tbh-blocks .tb-loading,.tbh-blocks-sh .tb-loading {
	padding-top:37px
}
.tbh-blocks .tb-loading.blocks-bd,.tbh-blocks-sh .tb-loading.blocks-bd,.tbh-blocks .tb-loading.blocksh-bd,.tbh-blocks-sh .tb-loading.blocksh-bd {
	padding-top:0
}
.tbh-live .tb-loading {
	height:520px;
	margin-top:20px
}
.tbh-list .tb-loading {
	height:710px;
	margin-top:20px
}
.hotsale-loading {
	display:block;
	height:120px;
	margin-top:20px
}
.shop {
	margin-top:10px;
	height:1066px;
	overflow:hidden
}
area {
	outline:0
}
.J_Module {
	min-height:0;
	background-color:#FFF
}
.hide,.tb-hide {
	display:none
}
.tb-pass {
	background-color:transparent
}
.tb-bg,.weight.tb-bg {
	background-repeat:repeat-x;
	background-image:-webkit-linear-gradient(-45deg,#ff5000,#ff6f06);
	background-image:-o-linear-gradient(-45deg,#ff5000,#ff6f06);
	background-image:linear-gradient(-45deg,#ff5000,#ff6f06)
}
.loading,.tb-loading {
	background-image:url(//img.alicdn.com/tfs/TB1BlobNFXXXXXyXXXXXXXXXXXX-34-34.gif);
	background-repeat:no-repeat;
	background-position:center
}
.tb-loading {
	background-color:#FFF
}
.clearfix {
	*zoom:1
}
.clearfix:before,.clearfix:after {
	content:" ";
	display:table
}
.clearfix:after {
	height:0;
	line-height:0;
	visibility:hidden;
	clear:both
}
.tbh-tag::after {
	content:' ';
	width:10px;
	height:12px;
	margin-left:2px;
	background:url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAAMklEQVR42sWQsQkAQAgDs/+0bhAr8QtRUfCLgxCuCAEF7DAQ6fntjsSIjxt3P2bApAoFhBVhrbziPxwAAAAASUVORK5CYII=);
	display:inline-block
}
#J_SiteNavHome {
	display:none
}
div.wrap-fixed {
	padding-top:129px
}
.top-wrap,.seat,.bottom {
	width:1190px;
	margin:0 auto;
	position:relative
}
.col-right {
	position:relative
}
.tbh-search {
	-webkit-transition:width .2s;
	-moz-transition:width .2s;
	-o-transition:width .2s;
	transition:width .2s
}
div.tbh-nav {
	background:#fff;
	padding-bottom:1px
}
.tmall-hd {
	overflow:hidden
}
div.tbh-nav .nav {
	width:990px;
	padding-left:200px;
	margin:0 auto
}
.screen-inner {
	width:1190px;
	margin:0 auto;
	margin-top:10px
}
.screen-outer {
	width:1190px;
	margin:0 auto;
	height:598px;
	margin-top:10px
}
.main {
	float:left;
	width:900px;
	height:100%
}
.main .core {
	margin-left:10px;
	float:left;
	width:520px
}
.sub-column {
	float:right;
	width:160px;
	margin-right:10px
}
.tbh-promo,.tbh-tmall {
	width:520px
}
.col-right {
	float:right;
	width:290px;
	height:100%
}
.tbh-service {
	float:left;
	width:190px;
	margin-top:-44px
}
div.apps {
	margin-top:0
}
.tbh-app {
	margin-top:2px;
	position:relative
}
.seat-rect {
	float:left;
	width:890px
}
.seat-extra {
	margin-left:900px;
	width:290px
}
.top {
	background-color:#FFF;
	padding-top:30px;
	height:99px
}
.tbh-qr {
	position:absolute;
	top:0;
	right:0
}
.tbh-logo {
	float:left;
	width:190px
}
.tbh-search {
	margin-left:265px;
	margin-right:300px
}
.logo {
	width:190px
}
.screen {
	height:555px;
	_zoom:1
}
.screen .sa-rect {
	float:left;
	width:100%;
	min-height:1px
}
.screen .sa-rect .rect-wrap {
	margin-left:200px;
	margin-right:0;
	_overflow:visible
}
.screen .sa-sub {
	position:relative;
	width:190px;
	margin-left:-100%;
	float:left
}
.screen .sa-extra {
	position:relative;
	width:0;
	margin-left:0;
	float:left
}
.screen .core {
	_zoom:1
}
.screen .core .ca-rect {
	float:left;
	width:100%;
	min-height:1px
}
.screen .core .ca-rect .rect-wrap {
	margin-left:529px;
	margin-right:301px;
	_overflow:visible
}
.screen .core .ca-sub {
	position:relative;
	width:520px;
	margin-left:-100%;
	float:left
}
.screen .core .ca-extra {
	position:relative;
	width:290px;
	margin-left:-290px;
	float:left
}
.seat {
	_zoom:1
}
.rect-wrap {
	position:relative
}
.seat .rect-wrap {
	width:890px
}
.seat .rect-wrap ins,.seat .rect-wrap ins img,.seat .rect-wrap ins iframe {
	width:890px!important
}
.hd-tanx {
	overflow:hidden;
	height:280px;
	background-color:#FFF
}
.hb-tanx-down {
	margin-top:1px;
	height:230px
}
.hb-tanx-down h5 {
	font-size:12px;
	font-weight:400;
	background:#f1f1f1;
	color:#a1a1a1;
	line-height:24px;
	padding-top:6px
}
.seat-extra .tanx-wrapper {
	width:290px;
	overflow:hidden;
	margin-top:14px
}
.seat-extra .tanx-wrapper h4 {
	font-size:14px;
	margin-bottom:10px
}
.seat-extra .tanx-wrapper .tbh-tanx {
	width:290px;
	height:242px;
	overflow:hidden
}
.seat-extra .tanx-wrapper .tbh-tanx ins,.seat-extra .tanx-wrapper .tbh-tanx ins img,.seat-extra .tanx-wrapper .tbh-tanx ins iframe {
	width:290px!important;
	height:242px!important
}
.seat-rect .tbh-ald {
	height:70px;
	margin-top:15px
}
.seat-gg {
	margin-top:5px;
	height:70px;
	margin-bottom:10px
}
.seat-gg ins,.seat-gg ins img,.seat-gg ins iframe {
	width:890px!important
}
.blocks-item:hover,.blocksh-item:hover {
	position:relative;
	border-right-color:transparent;
	-webkit-box-shadow:1px 1px 0 #f40,1px -1px 0 #f40,-1px 1px 0 #f40,-1px -1px 0 #f40;
	-moz-box-shadow:1px 1px 0 #f40,1px -1px 0 #f40,-1px 1px 0 #f40,-1px -1px 0 #f40;
	box-shadow:1px 1px 0 #f40,1px -1px 0 #f40,-1px 1px 0 #f40,-1px -1px 0 #f40;
	z-index:2
}
.tbh-belt,.tbh-favorite,.tbh-blocks,.tbh-blocks-sh {
	width:889px
}
.tbh-favorite {
	overflow:hidden
}
div.footer {
	border-top:2px solid #F40
}
div.footer .footer-ft {
	display:block
}
.a-opacity {
	-webkit-transition:opacity .2s;
	-moz-transition:opacity .2s;
	-o-transition:opacity .2s;
	transition:opacity .2s
}
.a-all {
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}
.wrap-fixed .top .decorate,.s1190 .top .decorate {
	display:none
}
.s1190 .screen,.s1190 .top-wrap,.s1190 .seat,.s1190 .bottom,.s1190 .tbh-hotsale {
	-webkit-transition:width .2s;
	-moz-transition:width .2s;
	-o-transition:width .2s;
	transition:width .2s;
	width:990px
}
.s1190 .seat-extra {
	margin-left:700px
}
.s1190 .screen-outer {
	width:990px
}
.s1190 .tbh-search {
	margin-left:218px;
	margin-right:145px
}
.s1190 div.tbh-nav .nav {
	width:790px
}
.s1190 .screen-outer {
	width:990px
}
.s1190 .main {
	width:700px
}
.s1190 .main .core {
	width:492px;
	overflow:hidden
}
.s1190 .sub-column {
	display:none
}
.s1190 .seat-gg ins,.s1190 .seat .rect-wrap ins,.s1190 .seat-gg ins img,.s1190 .seat .rect-wrap ins img,.s1190 .seat-gg ins iframe,.s1190 .seat .rect-wrap ins iframe {
	width:690px!important
}
.s1190 .belt a {
	margin-left:-5px
}
.s1190 .belt-item-4 {
	display:none
}
.s1190 .promo,.s1190 .tmall {
	left:-14px
}
.s1190 .tmall-ft .tmall-opt .prev,.s1190 .promo-ft .promo-opt .prev {
	left:14px
}
.s1190 .tmall-ft .tmall-opt .next,.s1190 .promo-ft .promo-opt .next {
	right:14px
}
.s1190 .tmall-hd {
	width:492px;
	position:relative;
	left:14px
}
.s1190 .markets-last-2 {
	display:none
}
.s1190 .markets-item {
	margin-right:21px
}
.s1190 .fixedtool {
	-webkit-transition:maring-right .2s;
	-moz-transition:maring-right .2s;
	-o-transition:maring-right .2s;
	transition:maring-right .2s;
	margin-right:-555px
}
.s1190 div.footer {
	width:990px
}
.s1190 div#J_Sale {
	min-height:558px
}
.s1190 .tbh-belt,.s1190 .tbh-like,.s1190 .tbh-blocks,.s1190 .tbh-blocks-sh {
	width:690px;
	overflow:hidden
}
.s1190 .thb-belt-activity {
	width:690px;
	overflow:hidden
}
.s1190 .seat-rect {
	width:690px
}
.s1190 .seat-extra {
	margin-left:700px
}
.s1190 .seat-rect .tbh-ald {
	width:687px;
	overflow:hidden
}
@media screen and (max-width:1189px) {
	.screen,.top-wrap,.seat,.bottom,.tbh-hotsale {
	-webkit-transition:width .2s;
	-moz-transition:width .2s;
	-o-transition:width .2s;
	transition:width .2s;
	width:990px
}
.seat-extra {
	margin-left:700px
}
.screen-outer {
	width:990px
}
.tbh-search {
	margin-left:218px;
	margin-right:145px
}
div.tbh-nav .nav {
	width:790px
}
.screen-outer {
	width:990px
}
.main {
	width:700px
}
.main .core {
	width:492px;
	overflow:hidden
}
.sub-column {
	display:none
}
.seat-gg ins,.seat .rect-wrap ins,.seat-gg ins img,.seat .rect-wrap ins img,.seat-gg ins iframe,.seat .rect-wrap ins iframe {
	width:690px!important
}
.belt a {
	margin-left:-5px
}
.belt-item-4 {
	display:none
}
.promo,.tmall {
	left:-14px
}
.tmall-ft .tmall-opt .prev,.promo-ft .promo-opt .prev {
	left:14px
}
.tmall-ft .tmall-opt .next,.promo-ft .promo-opt .next {
	right:14px
}
.tmall-hd {
	width:492px;
	position:relative;
	left:14px
}
.markets-last-2 {
	display:none
}
.markets-item {
	margin-right:21px
}
.fixedtool {
	-webkit-transition:maring-right .2s;
	-moz-transition:maring-right .2s;
	-o-transition:maring-right .2s;
	transition:maring-right .2s;
	margin-right:-555px
}
div.footer {
	width:990px
}
div#J_Sale {
	min-height:558px
}
.tbh-belt,.tbh-like,.tbh-blocks,.tbh-blocks-sh {
	width:690px;
	overflow:hidden
}
.thb-belt-activity {
	width:690px;
	overflow:hidden
}
.seat-rect {
	width:690px
}
.seat-extra {
	margin-left:700px
}
.seat-rect .tbh-ald {
	width:687px;
	overflow:hidden
}
} .hotsale-loading {
	height:800px;
}
